.profile-thumbnail {
    position: absolute;
}

div.pagination {
    width: 100%;
    text-align: right;
    padding: 0;
    margin: 0;
}

.page-content {
    border-bottom: 1px solid #eee;
    margin: 20px 0;
    padding-bottom: 9px;
}

.margin-bottom-md {
    margin-bottom: 30px;
}

.margin-top-sm {
    margin-top: 10px;
}

.no_border {
    border: 0;
}

.dash_border {
    border-bottom: 1px dotted #bdbabd;
    height: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

div.flask-pagedown-preview {
    margin: 10px 0 10px 0;
    border: 1px solid #e0e0e0;
    padding: 4px;
}

div.flask-pagedown-preview h1 {
    font-size: 140%;
}

div.flask-pagedown-preview h2 {
    font-size: 130%;
}

div.flask-pagedown-preview h3 {
    font-size: 120%;
}

.well .page-header {
    padding-bottom: 9px;
    margin: 0;
    font-size: 17px;
    border-bottom: 1px solid #eee;
}

#tag-well {
    height: 360px;
}
