{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}About Me - {{ config['ZBLOG_TITLE_SUFFIX'] }}{% endblock %}
{% block page_content %}
    <div class="page-header">
        <h1>About Me</h1>
    </div>
    <div>
        {% if user.about_me_html %}
            {{ user.about_me_html | safe }}
        {% else %}
            {{ user.about_me }}
        {% endif %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}