{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Home - ZBlog{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-xs-3 col-xs-push-9">
            {% include '_right.html' %}
        </div>
        <div class="col-xs-9 col-xs-pull-3">
            {% include '_posts.html' %}
            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.index') }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}